# CSCK503 Group Project

### Developing Machine Learning Models for Predicting Atmospheric Emissions

In [ ]:
# import required libraries
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# get curren path info
current_path = os.getcwd()
current_path = current_path + os.sep + 'EMA'
current_path
current_path = "../data/"

## Preliminary check on all datasets

#### Concentration data

In [ ]:

# read concentration data of NO2, NOx, PM10, PM25 in 2013
NO2_conct_data = pd.read_csv('../data//PostLAEI2013_2013_NO2.csv')
NOx_conct_data = pd.read_csv('../data//PostLAEI2013_2013_NOx.csv')
PM10_conct_data = pd.read_csv('../data//PostLAEI2013_2013_PM10.csv')
PM25_conct_data = pd.read_csv('../data//PostLAEI2013_2013_PM25.csv')

#### Grid Emissions

In [ ]:
# read emission data of CO2, NOx, PM10, PM25 in 2013
NOx_emission_data = pd.read_excel('../data//LAEI2013_Emissions_Summary-NOx_v1.1.xlsx', sheet_name='NOx by Grid Exact Cut')
NOx_emission_data = NOx_emission_data[NOx_emission_data['Year'] == 2013]

CO2_emission_data = pd.read_excel('../data//LAEI2013_Emissions_Summary-CO2_v1.1.xlsx', sheet_name='CO2 by Grid Exact Cut', skiprows=3)
CO2_emission_data = CO2_emission_data[CO2_emission_data['Year'] == 2013]

PM10_emission_data = pd.read_excel('../data//LAEI2013_Emissions_Summary-PM10_v1.1.xlsx', sheet_name='PM10 by Grid Exact Cut', skiprows=3)
PM10_emission_data = PM10_emission_data[PM10_emission_data['Year'] == 2013]

PM25_emission_data = pd.read_excel('../data//LAEI2013_Emissions_Summary-PM2.5_v1.1.xlsx', sheet_name='PM2.5 by Grid Exact Cut', skiprows=3)
PM25_emission_data = PM25_emission_data[PM25_emission_data['Year'] == 2013]

# retrieve the number of data which is zero
(NOx_emission_data == 0).sum(axis=0)
(PM10_emission_data == 0).sum(axis=0)
(PM25_emission_data == 0).sum(axis=0)

Year                   0
LAEI 1km2 ID           0
GRID_ExactCut_ID       0
Easting                0
Northing               0
                    ...
Artic HGV_Tyre       172
Rigid HGV_Exhaust    169
Rigid HGV_Brake      169
Rigid HGV_Tyre       169
Total                  0
Length: 65, dtype: int64

## Data Analysis and Data Cleansing

### Major Roads  By Link

- Read the data
- Analyse missing value
- Drop unnecessary columns

In [ ]:
# read major roads emissions by link
MajorRoadByLinkData = pd.read_excel('../data/LAEI2013_MajorRoads_EmissionsbyLink_2013.xlsx', sheet_name='2013 LTS Rds')

According to the data analysis, these columns are sum of the other columns
- Car:	Sum of PetrolCar and DieselCar
- BusAndCoach: Sum of LtBus and Coach
- Lgv: Sum of PetrolLgv and DieselLgv
- Rigid: Sum of Rigid2Axle, Rigid3Axle, and Rigid4Axle
- Artic: Sum of Artic3Axle, Artic2Axle, and Artic4Axle

In [ ]:
# drop these columns because they are not used for modelling
MajorRoadByLinkData_cleaned = MajorRoadByLinkData.drop(['Car', 'BusAndCoach', 'Lgv', 'Rigid', 'Artic'], axis=1)
MajorRoadByLinkData_cleaned

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,Lts,Length (m),Emissions,Year,Pollutant,...,Artic5Axle,Artic6Axle,PetrolCar,DieselCar,PetrolLgv,DieselLgv,LtBus,Coach,ElectricCar,ElectricLgv
0,6253,4000000027908919,24,External,NonGLA,18898,50.761449,DFT,2013,CO2,...,0.241372,0.190560,8.761443,4.810774,3.755001e-02,1.735121,0.0,0.0,0.000000e+00,0.000000e+00
1,6253,4000000027947931,24,External,NonGLA,18895,28.592125,DFT,2013,CO2,...,0.000000,0.000000,0.015535,0.008576,0.000000e+00,0.000000,0.0,0.0,0.000000e+00,0.000000e+00
2,6253,4000000028013383,24,External,NonGLA,15816,5.101391,DFT,2013,CO2,...,0.027271,0.021509,0.939028,0.518684,4.055499e-03,0.184415,0.0,0.0,0.000000e+00,0.000000e+00
3,6253,4000000028025820,24,External,NonGLA,15816,3.757501,DFT,2013,CO2,...,0.020087,0.015843,0.691654,0.382044,2.987135e-03,0.135834,0.0,0.0,0.000000e+00,0.000000e+00
4,6253,4000000028029388,24,External,NonGLA,15816,1.624593,DFT,2013,CO2,...,0.008685,0.006850,0.299044,0.165180,1.291517e-03,0.058729,0.0,0.0,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366215,14525,4000000030981253,493,External,NonGLA,10910,68.300121,COPERT,2013,PM25_Tyre,...,0.000000,0.000000,0.000067,0.000040,3.705429e-07,0.000019,0.0,0.0,3.550464e-08,1.065791e-08
366216,14526,4000000031009965,494,External,NonGLA,10804,18.361482,COPERT,2013,PM25_Tyre,...,0.000000,0.000000,0.000017,0.000010,9.540952e-08,0.000005,0.0,0.0,9.141400e-09,2.744261e-09
366217,14540,4000000030121018,508,External,NonGLA,18275,150.698967,COPERT,2013,PM25_Tyre,...,0.000045,0.000022,0.001136,0.000674,6.210160e-06,0.000312,0.0,0.0,6.021130e-07,1.786226e-07
366218,14540,4000000030392332,508,External,NonGLA,18275,27.459057,COPERT,2013,PM25_Tyre,...,0.000008,0.000004,0.000207,0.000123,1.131561e-06,0.000057,0.0,0.0,1.097118e-07,3.254706e-08
366219,14540,4000000030654493,508,External,NonGLA,18275,27.432124,COPERT,2013,PM25_Tyre,...,0.000008,0.000004,0.000207,0.000123,1.130452e-06,0.000057,0.0,0.0,1.096042e-07,3.251514e-08

In [ ]:
# transform the columns of emission of each vechnical type into separate rows as vechicle type and emission values
# melt emission columns
mrla_fix_columns = MajorRoadByLinkData_cleaned.columns[:11]
emission_columns = MajorRoadByLinkData_cleaned.columns[11:]

mrla_fix_columns

Index(['GridId', 'Toid', 'GRID_ExactCut_ID', 'Location_ExactCut',
       'BoroughName_ExactCut', 'Lts', 'Length (m)', 'Emissions', 'Year',
       'Pollutant', 'Emissions Unit'],
      dtype='object')

In [ ]:

# melt the data into vechnicle type and emission value
MajorRoadByLinkData_cleaned = MajorRoadByLinkData_cleaned.melt(id_vars=mrla_fix_columns,
                       value_vars=emission_columns, var_name='VehicleType', value_name='Emission Value')


MajorRoadByLinkData_cleaned

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,Lts,Length (m),Emissions,Year,Pollutant,Emissions Unit,VehicleType,Emission Value
0,6253,4000000027908919,24,External,NonGLA,18898,50.761449,DFT,2013,CO2,tonnes/year,Motorcycle,1.582898e-01
1,6253,4000000027947931,24,External,NonGLA,18895,28.592125,DFT,2013,CO2,tonnes/year,Motorcycle,0.000000e+00
2,6253,4000000028013383,24,External,NonGLA,15816,5.101391,DFT,2013,CO2,tonnes/year,Motorcycle,1.697418e-02
3,6253,4000000028025820,24,External,NonGLA,15816,3.757501,DFT,2013,CO2,tonnes/year,Motorcycle,1.250257e-02
4,6253,4000000028029388,24,External,NonGLA,15816,1.624593,DFT,2013,CO2,tonnes/year,Motorcycle,5.405610e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5859515,14525,4000000030981253,493,External,NonGLA,10910,68.300121,COPERT,2013,PM25_Tyre,tonnes/year,ElectricLgv,1.065791e-08
5859516,14526,4000000031009965,494,External,NonGLA,10804,18.361482,COPERT,2013,PM25_Tyre,tonnes/year,ElectricLgv,2.744261e-09
5859517,14540,4000000030121018,508,External,NonGLA,18275,150.698967,COPERT,2013,PM25_Tyre,tonnes/year,ElectricLgv,1.786226e-07
5859518,14540,4000000030392332,508,External,NonGLA,18275,27.459057,COPERT,2013,PM25_Tyre,tonnes/year,ElectricLgv,3.254706e-08
5859519,14540,4000000030654493,508,External,NonGLA,18275,27.432124,COPERT,2013,PM25_Tyre,tonnes/year,ElectricLgv,3.251514e-08

### Road Traffic Data

- check missing data and drop if necessary
- drop unnecessary columns
- transform the data with vehnicle type and corresponding AADT and VKM value

In [ ]:
# read road traffic data
RoadTrafficData = pd.read_excel('../data/LAEI2013_2013_AADT-VKM.xlsx', sheet_name='MajorGrid_AADTandVKM_2013')

#### Clean up missing data and drop unnecessary columns

In [ ]:
# check missing data in Road Traffic data
RoadTrafficData.isnull().sum()

RowID                   3
Year                    3
Toid                    3
GRID_ExactCut_ID        3
Location_ExactCut       3
BoroughName_ExactCut    3
TLRN                    3
MotorwayNumber          3
AADT Motorcycle         3
AADT Taxi               3
AADT Pcar               3
AADT Dcar               3
AADT PLgv               3
AADT DLgv               3
AADT LtBus              3
AADT Coach              3
AADT Rigid2Axle         3
AADT Rigid3Axle         3
AADT Rigid4Axle         3
AADT Artic3Axle         3
AADT Artic5Axle         3
AADT Artic6Axle         3
AADT ElectricCar        3
AADT ElectricLgv        3
AADT TOTAL              3
Speed (kph)             2
Length (m)              2
VKM_Motorcycle          3
VKM_Taxi                3
VKM_Pcar                3
VKM_Dcar                3
VKM_PLgv                3
VKM_DLgv                3
VKM_LtBus               3
VKM_Coach               3
VKM_Rigid2Axle          3
VKM_Rigid3Axle          3
VKM_Rigid4Axle          3
VKM_Artic3Axle          3
VKM_Artic5Axle          3
VKM_Artic6Axle          3
VKM_ElectricCar         3
VKM_ElectricLgv         3
VKM_TOTAL               3
dtype: int64

In [ ]:
# drop all missing rows
RoadTrafficData_cleaned = RoadTrafficData.dropna()

# after anlaysing the dataset, AADT TOTAL and VKM TOTAL are sum of the other columns
# drop the total column as they are not used in the modelling
RoadTrafficData_cleaned = RoadTrafficData_cleaned.drop(['AADT TOTAL', 'VKM_TOTAL'], axis=1)
RoadTrafficData_cleaned

,RowID,Year,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,TLRN,MotorwayNumber,AADT Motorcycle,AADT Taxi,...,VKM_LtBus,VKM_Coach,VKM_Rigid2Axle,VKM_Rigid3Axle,VKM_Rigid4Axle,VKM_Artic3Axle,VKM_Artic5Axle,VKM_Artic6Axle,VKM_ElectricCar,VKM_ElectricLgv
0,1.0,2013.0,4.000000e+15,836.0,Outer,Hillingdon,Other,Other,88.301916,77.112580,...,470.278768,149.248696,293.680300,55.978941,39.030966,16.191367,10.970609,3.993946,4.335614,1.235289
1,2.0,2013.0,4.000000e+15,2217.0,Outer,Hillingdon,Other,Other,88.301916,77.112580,...,309.432150,98.338925,193.503902,36.884134,25.717231,10.668379,7.228458,2.631583,2.856706,0.813924
2,3.0,2013.0,4.000000e+15,282.0,External,NonGLA,Other,Other,310.363572,100.322495,...,2216.046236,1657.075319,12950.212101,3011.364039,2861.551314,1710.809301,1966.897025,1647.110606,221.806380,47.635028
3,4.0,2013.0,4.000000e+15,873.0,Outer,Hillingdon,Other,Other,39.473081,144.548284,...,322.624763,118.008843,9777.985094,2051.227418,1024.275647,470.758531,815.631678,1959.389833,78.775616,15.287825
4,5.0,2013.0,4.000000e+15,2930.0,Outer,Hillingdon,Other,Other,39.473081,144.548284,...,1096.887173,401.216526,33244.027352,6973.937855,3482.419671,1600.524988,2773.054115,6661.700602,267.828056,51.976850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87991,87992.0,2013.0,4.000000e+15,2781.0,Outer,Brent,Other,Other,77.456970,87.228788,...,0.000000,0.000000,1526.386160,140.588199,230.966327,120.504171,150.630213,110.462156,13.990264,2.624821
87992,87993.0,2013.0,4.000000e+15,2736.0,Outer,Brent,Other,Other,292.804370,341.246687,...,1702.409589,1228.784660,4861.898099,521.208506,741.093345,439.769677,602.647336,350.186965,44.184468,8.297322
87993,87994.0,2013.0,4.000000e+15,2021.0,Outer,Brent,Other,Other,106.396937,126.529671,...,0.000000,0.000000,1372.566897,133.258922,193.225437,99.944192,179.899545,86.618299,13.328744,2.493804
87994,87995.0,2013.0,4.000000e+15,1374.0,Outer,Barnet,Other,Other,28.939967,31.632418,...,11751.707498,0.000000,2587.404279,280.561910,374.082546,124.694182,311.735455,0.000000,16.124641,3.016591
87995,87996.0,2013.0,4.000000e+15,3211.0,Outer,Croydon,Other,Other,85.968725,99.690043,...,10423.156415,1194.588069,14056.782280,1522.818080,2167.087268,1171.398523,1698.527859,819.978966,92.767810,17.459043

In [ ]:
# transform the data into vehicle type, AADT, VKM
rtd_fix_columns = list(RoadTrafficData_cleaned.columns[:8]) + list(RoadTrafficData_cleaned.columns[24:26])
aadt_columns = [col for col in RoadTrafficData_cleaned.columns if col.startswith('AADT')]
vkm_columns = [col for col in RoadTrafficData_cleaned.columns if col.startswith('VKM')]

In [ ]:
# Melt AADT columns
df_aadt = RoadTrafficData_cleaned.melt(id_vars=rtd_fix_columns,
                  value_vars=aadt_columns, var_name='VehicleType', value_name='AADT')

df_aadt['VehicleType'] = df_aadt['VehicleType'].str.replace('AADT ', '')
df_aadt

,RowID,Year,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,TLRN,MotorwayNumber,Speed (kph),Length (m),VehicleType,AADT
0,1.0,2013.0,4.000000e+15,836.0,Outer,Hillingdon,Other,Other,36.938200,5.472146,Motorcycle,88.301916
1,2.0,2013.0,4.000000e+15,2217.0,Outer,Hillingdon,Other,Other,35.285178,3.605559,Motorcycle,88.301916
2,3.0,2013.0,4.000000e+15,282.0,External,NonGLA,Other,Other,49.065141,113.618491,Motorcycle,310.363572
3,4.0,2013.0,4.000000e+15,873.0,Outer,Hillingdon,Other,Other,49.173100,52.797356,Motorcycle,39.473081
4,5.0,2013.0,4.000000e+15,2930.0,Outer,Hillingdon,Other,Other,49.173100,179.504952,Motorcycle,39.473081
...,...,...,...,...,...,...,...,...,...,...,...,...
1407931,87992.0,2013.0,4.000000e+15,2781.0,Outer,Brent,Other,Other,22.977362,28.867165,ElectricLgv,0.249117
1407932,87993.0,2013.0,4.000000e+15,2736.0,Outer,Brent,Other,Other,39.828245,23.410723,ElectricLgv,0.971025
1407933,87994.0,2013.0,4.000000e+15,2021.0,Outer,Brent,Other,Other,17.946339,19.153564,ElectricLgv,0.356714
1407934,87995.0,2013.0,4.000000e+15,1374.0,Outer,Barnet,Other,Other,33.043041,89.612688,ElectricLgv,0.092226
1407935,87996.0,2013.0,4.000000e+15,3211.0,Outer,Croydon,Other,Other,12.073947,168.367392,ElectricLgv,0.284099

In [ ]:

# Melt VKM columns
df_vkm = RoadTrafficData_cleaned.melt(id_vars=rtd_fix_columns,
                  value_vars=vkm_columns, var_name='VehicleType', value_name='VKM')

df_vkm['VehicleType'] = df_vkm['VehicleType'].str.replace('VKM_','')
df_vkm

,RowID,Year,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,TLRN,MotorwayNumber,Speed (kph),Length (m),VehicleType,VKM
0,1.0,2013.0,4.000000e+15,836.0,Outer,Hillingdon,Other,Other,36.938200,5.472146,Motorcycle,176.368343
1,2.0,2013.0,4.000000e+15,2217.0,Outer,Hillingdon,Other,Other,35.285178,3.605559,Motorcycle,116.207872
2,3.0,2013.0,4.000000e+15,282.0,External,NonGLA,Other,Other,49.065141,113.618491,Motorcycle,12871.009867
3,4.0,2013.0,4.000000e+15,873.0,Outer,Hillingdon,Other,Other,49.173100,52.797356,Motorcycle,760.687130
4,5.0,2013.0,4.000000e+15,2930.0,Outer,Hillingdon,Other,Other,49.173100,179.504952,Motorcycle,2586.248957
...,...,...,...,...,...,...,...,...,...,...,...,...
1407931,87992.0,2013.0,4.000000e+15,2781.0,Outer,Brent,Other,Other,22.977362,28.867165,ElectricLgv,2.624821
1407932,87993.0,2013.0,4.000000e+15,2736.0,Outer,Brent,Other,Other,39.828245,23.410723,ElectricLgv,8.297322
1407933,87994.0,2013.0,4.000000e+15,2021.0,Outer,Brent,Other,Other,17.946339,19.153564,ElectricLgv,2.493804
1407934,87995.0,2013.0,4.000000e+15,1374.0,Outer,Barnet,Other,Other,33.043041,89.612688,ElectricLgv,3.016591
1407935,87996.0,2013.0,4.000000e+15,3211.0,Outer,Croydon,Other,Other,12.073947,168.367392,ElectricLgv,17.459043

#### Combine df_aadt and dt_vkm

In [ ]:
# combine df_aadt and df_vkm

# combine the fix columns and vehicletype column as join columns
join_columns = list(rtd_fix_columns)
join_columns.append('VehicleType')


RoadTrafficData_cleaned = pd.merge(df_aadt, df_vkm, on=join_columns, how='inner')

RoadTrafficData_cleaned

,RowID,Year,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,TLRN,MotorwayNumber,Speed (kph),Length (m),VehicleType,AADT,VKM
0,1.0,2013.0,4.000000e+15,836.0,Outer,Hillingdon,Other,Other,36.938200,5.472146,Motorcycle,88.301916,176.368343
1,2.0,2013.0,4.000000e+15,2217.0,Outer,Hillingdon,Other,Other,35.285178,3.605559,Motorcycle,88.301916,116.207872
2,3.0,2013.0,4.000000e+15,282.0,External,NonGLA,Other,Other,49.065141,113.618491,Motorcycle,310.363572,12871.009867
3,4.0,2013.0,4.000000e+15,873.0,Outer,Hillingdon,Other,Other,49.173100,52.797356,Motorcycle,39.473081,760.687130
4,5.0,2013.0,4.000000e+15,2930.0,Outer,Hillingdon,Other,Other,49.173100,179.504952,Motorcycle,39.473081,2586.248957
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407931,87992.0,2013.0,4.000000e+15,2781.0,Outer,Brent,Other,Other,22.977362,28.867165,ElectricLgv,0.249117,2.624821
1407932,87993.0,2013.0,4.000000e+15,2736.0,Outer,Brent,Other,Other,39.828245,23.410723,ElectricLgv,0.971025,8.297322
1407933,87994.0,2013.0,4.000000e+15,2021.0,Outer,Brent,Other,Other,17.946339,19.153564,ElectricLgv,0.356714,2.493804
1407934,87995.0,2013.0,4.000000e+15,1374.0,Outer,Barnet,Other,Other,33.043041,89.612688,ElectricLgv,0.092226,3.016591
1407935,87996.0,2013.0,4.000000e+15,3211.0,Outer,Croydon,Other,Other,12.073947,168.367392,ElectricLgv,0.284099,17.459043

### Merge clean up data of Road Traffic and Major Road by Link

In [ ]:
# check the columns of the two datasets
print(RoadTrafficData_cleaned.columns)
print(MajorRoadByLinkData_cleaned.columns)

Index(['RowID', 'Year', 'Toid', 'GRID_ExactCut_ID', 'Location_ExactCut',
       'BoroughName_ExactCut', 'TLRN', 'MotorwayNumber', 'Speed (kph)',
       'Length (m)', 'VehicleType', 'AADT', 'VKM'],
      dtype='object')
Index(['GridId', 'Toid', 'GRID_ExactCut_ID', 'Location_ExactCut',
       'BoroughName_ExactCut', 'Lts', 'Length (m)', 'Emissions', 'Year',
       'Pollutant', 'Emissions Unit', 'VehicleType', 'Emission Value'],
      dtype='object')

In [ ]:
merge_columns = [ 'Year', 'Toid', 'GRID_ExactCut_ID', 'Location_ExactCut', 'BoroughName_ExactCut','Length (m)', 'VehicleType']
MajorRoadTrafficData = pd.merge(MajorRoadByLinkData_cleaned, RoadTrafficData_cleaned, on=merge_columns, how='inner')

MajorRoadTrafficData

,GridId,Toid,GRID_ExactCut_ID,Location_ExactCut,BoroughName_ExactCut,Lts,Length (m),Emissions,Year,Pollutant,Emissions Unit,VehicleType,Emission Value,RowID,TLRN,MotorwayNumber,Speed (kph),AADT,VKM
0,6253,4000000027908919,24,External,NonGLA,18898,50.761449,DFT,2013,CO2,tonnes/year,Motorcycle,1.582898e-01,57184.0,Other,Other,42.269546,91.075778,1687.445524
1,6253,4000000027908919,24,External,NonGLA,18898,50.761449,COPERT,2013,NOx,tonnes/year,Motorcycle,2.102559e-04,57184.0,Other,Other,42.269546,91.075778,1687.445524
2,6253,4000000027908919,24,External,NonGLA,18898,50.761449,COPERT,2013,PM10_Brake,tonnes/year,Motorcycle,3.633719e-05,57184.0,Other,Other,42.269546,91.075778,1687.445524
3,6253,4000000027908919,24,External,NonGLA,18898,50.761449,COPERT,2013,PM10_Exhaust,tonnes/year,Motorcycle,2.224210e-05,57184.0,Other,Other,42.269546,91.075778,1687.445524
4,6253,4000000027908919,24,External,NonGLA,18898,50.761449,COPERT,2013,PM10_Resusp,tonnes/year,Motorcycle,0.000000e+00,57184.0,Other,Other,42.269546,91.075778,1687.445524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3369115,14526,4000000030088402,494,External,NonGLA,10804,384.726896,COPERT,2013,PM10_Tyre,tonnes/year,ElectricLgv,8.214330e-08,68852.0,Other,Other,46.488063,0.039753,5.582278
3369116,14526,4000000030088402,494,External,NonGLA,10804,384.726896,COPERT,2013,PM25_Brake,tonnes/year,ElectricLgv,1.387920e-07,68852.0,Other,Other,46.488063,0.039753,5.582278
3369117,14526,4000000030088402,494,External,NonGLA,10804,384.726896,COPERT,2013,PM25_Exhaust,tonnes/year,ElectricLgv,0.000000e+00,68852.0,Other,Other,46.488063,0.039753,5.582278
3369118,14526,4000000030088402,494,External,NonGLA,10804,384.726896,COPERT,2013,PM25_Resusp,tonnes/year,ElectricLgv,1.747516e-09,68852.0,Other,Other,46.488063,0.039753,5.582278
3369119,14526,4000000030088402,494,External,NonGLA,10804,384.726896,COPERT,2013,PM25_Tyre,tonnes/year,ElectricLgv,5.750031e-08,68852.0,Other,Other,46.488063,0.039753,5.582278

In [ ]:
CleanUpDataSetFile = current_path  + 'MajorRoadTrafficData.csv'
MajorRoadTrafficData.to_csv(CleanUpDataSetFile)

## Data Modelling